<script type="text/javascript">
    $(function () {
        $('#uploadify').uploadify({
            //以下参数均是可选
            'scriptData': {
                'U_Code': $("#U_Code").val(),
                'ASU_Code': $("#ASU_Code").val()
            },
            'buttonImg': '../../Plug-in/jquery.uploadify-v2.1.4/selectfile.png',
            'uploader': '../../Plug-in/jquery.uploadify-v2.1.4/uploadify.swf', //指定上传控件的主体文件，默认‘uploader.swf’
            //            'folder': 'Attachment', //要上传到的服务器路径，默认‘/’
            'script': $("#uploadify").attr('url'), //上传文件的后台
            'cancelImg': '../../Plug-in/jquery.uploadify-v2.1.4/cancel.png', //指定取消上传的图片，默认‘cancel.png’
            'width': 78,
            'height': 22,
            'auto': false, //选定文件后是否自动上传，默认false
            'method': 'POST',
            'queueID': 'fileQueue',
            'multi': true, //是否允许同时上传多文件，默认false
            'fileDesc': 'doc文件,docx文件,xls文件,xlsx文件,jpg文件,bmp文件,png文件,gif文件,rmvb文件,rm文件,avi文件,mkv文件,mp4文件,wma文件', //出现在上传对话框中的文件类型描述
            'fileExt': '*.doc;*.docx;*.xls;*.xlsx;*.jpg;*.bmp;*.png;*.gif;*.rmvb;*.rm;*.avi;*.mkv;*.mp4;*.wma;', //控制可上传文件的扩展名，文件启用本项时需同时声明fileDesc
            'sizeLimit': 1024 * 1024 * 100, //控制上传文件的大小，单位byte(100兆)
            //'wmode': 'transparent',
            //'rollover':true
            //'removeCompleted':false
            'simUploadLimit': 5, //多文件上传时，同时上传文件数目限制
            'queueSizeLimit': 5,
            //'onProgress': onProgress,
            //        'onCancel': function () {

            //        },
            'onComplete': function (event, queueID, fileObj, response, data) {
                if (response != "") {
                    var saveName = $("<input type='hidden' id='SaveName' name='SaveName' value='' />");
                    var fileName = $("<input type='hidden' id='FileName' name='FileName' value='' />");
                    $(saveName).val(response);
                    $(fileName).val(fileObj.name);
                    $("#PartailUpload").append(saveName);
                    $("#PartailUpload").append(fileName);
                    showInfo("成功上传" + fileObj.name, true); //showInfo方法设置上传结果   
                }
                else {
                    showInfo("文件" + fileObj.name + "上传出错", false);
                }
            },
            'onError': function (event, queueID, fileObj) {
                $("#ui_dialog").html("文件:" + fileObj.name + " 上传失败");
                $('#ui_dialog').dialog({
                    modal: true,
                    show: 'blind',
                    hide: 'explode',
                    resizable: false,
                    title: "提示"
                });
                //alert("文件:" + fileObj.name + " 上传失败");
            }
        });

    });   
</script>
<div id="PartailUpload">
    <input type="file" name="uploadify" id="uploadify" url="/Home/Upload" />
    <div id="fileQueue" style="margin-bottom: 10px;">
    </div>
    <div>
        <a href="javascript:$('#uploadify').uploadifyUpload()">上传</a>| <a href="javascript:$('#uploadify').uploadifyClearQueue()">
            取消</a>
    </div>
</div>
