
<script type='text/javascript'>
    $(function () {
        $('#PartailForgetPsw').dialog({
            modal: true,
            show: 'blind',
            hide: 'explode',
            resizable: false,
            title: '找回密码',
            //autoOpen: false, //不自动打开
            buttons: {
                提交: function () {
                    $("#ForgetPasswordForm").submit();
                },
                取消: function () {
                    $(this).dialog('close');
                }
            }
        });
    });

    function MsgShow(data) {
        if (data.Flag) {
            $("#PartailForgetPsw").html(data.Msg);
        }
        else
            $("#ui_dialog").html(data.Msg);
    }

    function changeCode() {
        $("#valiCode").attr("src", '@Url.Content("~/Account/GetValidateCode")' + '?time=' + (new Date()).getTime());
    }
</script>
<div id="PartailForgetPsw">
    <div id="dialog-form" class="dialog-forgetPsw">
        @using (Ajax.BeginForm("ForgetPassword", "Account", null, new AjaxOptions { OnSuccess = "MsgShow(data);" }, new { id = "ForgetPasswordForm" }))
        {
            <label id="ValidateCodeMsg">
            </label>
            <fieldset>
                <label>
                    邮箱:</label>
                @Html.TextBox("ValidateMail", null, new { @class = "text ui-widget-content ui-corner-all" })
                <label>
                    验证码:</label>
                @Html.TextBox("ValidateCode", null, new { @class = "text ui-widget-content ui-corner-all" })
                <img id="valiCode" style="cursor: pointer;" src="@Url.Content("~/Account/GetValidateCode")" alt="验证码" />
                <a style="cursor: pointer;" onclick="changeCode();">换一张</a>
            </fieldset>
        }
    </div>
</div>
