<div class="i_left" style="width: 1002px;">
    <div class="i_box" style="width: 1000px;">
        <div class="i_box_l" style="width: 250px;">
            <center>
                <table>
                    <tr>
                        <td>
                            <a onclick="resetUrl('ChangePassword','Account','releaseNews');" style="cursor: pointer">
                                修改密码</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('UserInfo','Account','releaseNews');" style="cursor: pointer">个人信息</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('UserApplyActivity','Account','releaseNews');" style="cursor: pointer">
                                活动申请</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('ApplyListForUser','Activity','releaseNews');" style="cursor: pointer">
                                未审核活动列表</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('','','releaseNews');" style="cursor: pointer">已审核活动列表</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('','','releaseNews');" style="cursor: pointer">申请活动列表</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('','','releaseNews');" style="cursor: pointer">申请活动列表</a>
                        </td>
                    </tr>
                </table>
            </center>
        </div>
        <div id="releaseNews" class="i_box_r" style="width: 680px;">
        </div>
    </div>
</div>
