<div id="PartailActivityManage">
    @{
        var list = ViewData["ActiveList"] as TeacherTitle.DAL.DB.ActivityPlan[];
    }
    <div>
    <table>
        <tr>
            <th></th>
        </tr>
    </table>
    </div>
</div>
