<div class="i_container clearfix">
    <div class="p_left">
        <div class="i_news02" id="com_indexistop_news" editok="online">
            <div class="title02">
                <h3>
                    个人中心
                </h3>
            </div>
            <div class="i_news04_l">
                <ul>
                    <li style="margin-top: 0px;" onclick="resetUrl('ChangePassword','Account','releaseNews',this);">
                        <a>修改密码</a> </li>
                    <li onclick="resetUrl('UserInfo','Account','releaseNews',this);"><a>个人信息</a> </li>
                </ul>
            </div>
        </div>
        <div class="i_news03" id="teacherManagement">
            <div class="title03">
                <h3>
                    教师管理</h3>
            </div>
            <div class="i_news04_l">
                <ul>
                    <li style="margin-top: 0px;" onclick="resetUrl('Register','Adm','releaseNews',this);">
                        <a href="#">添加教师</a> </li>
                    <li onclick="resetUrl('RegisterByExcel','Adm','releaseNews',this);"><a href="#">从EXCEl导入教师</a>
                    </li>
                    <li onclick="resetUrl('TeacherClassHourSum','Adm','releaseNews',this);"><a href="#">教师个人学时汇总</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="i_news04" id="noticeManagement">
            <div class="title03">
                <h3>
                    公告管理</h3>
            </div>
            <div class="i_news04_l">
                <ul>
                    <li style="margin-top: 0px;" onclick="resetUrl('AddHourCountStandard','Adm','releaseNews',this);">
                        <a href="#">添加学时计算标准</a> </li>
                    <li onclick="resetUrl('AddActivity','Adm','releaseNews',this);"><a href="#">发布活动公告</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="i_news05" id="activityManagement">
            <div class="title03">
                <h3>
                    活动管理</h3>
            </div>
            <div class="i_news04_l">
                <ul>
                    <li id="RegistrationOfActLi" style="margin-top: 0px;" onclick="resetUrl('RegistrationOfAct','Adm','releaseNews',this);">
                        <a href="#">报名中的活动</a> </li>
                    <li id="OngoingActivitiesLi" onclick="resetUrl('OngoingActivities','Adm','releaseNews',this);">
                        <a href="#">进行中的活动</a> </li>
                    <li onclick="resetUrl('AlreadyEndOfAct','Adm','releaseNews',this);"><a href="#">已结束的活动</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="i_news06" id="applyManagement">
            <div class="title03">
                <h3>
                    教师申请管理</h3>
            </div>
            <div class="i_news04_l">
                <ul>
                    <li id="TeacherPerApplyLi" style="margin-top: 0px;" onclick="resetUrl('TeacherPerApply','Adm','releaseNews',this);">
                        <a href="#">教师申请列表</a> </li>
                    <li onclick="resetUrl('TeacherPerApplyFinishSearch','Adm','releaseNews',this);"><a
                        href="#">教师申请历史</a> </li>
                </ul>
            </div>
        </div>
        <div class="i_news07" id="sysManagement">
            <div class="title03">
                <h3>
                    系统配置</h3>
            </div>
            <div class="i_news04_l">
                <ul>
                    <li style="margin-top: 0px;" onclick="resetUrl('SysMail','Home','releaseNews',this);">
                        <a href="#">配置邮箱</a> </li>
                </ul>
            </div>
        </div>
        <div class="newbottom_01">
        </div>
    </div>
    <div class="p_right">
        <div class="p_r_t" id="AdmPageStatus">
            <h3>
                个人中心</h3>
            <div class="p_path">
                当前位置 ： <a id="position_nowtitle"></a></div>
        </div>
        <div class="p_news">
            <div class="p_center" id="releaseNews">
            </div>
            @*<div class="prevnext">
                <div class="button" style="padding-left: 80px;">
                    <input type="button" value="添加" /></div>
            </div>*@
        </div>
        <div class="newbottom_02">
        </div>
    </div>
</div>
