<div class="i_left" style="width: 1002px;">
    <div class="i_box" style="width: 1000px;">
        <div class="i_box_l" style="width: 250px;">
            <center>
                <table>
                    <tr>
                        <td>
                            <a onclick="resetUrl('ChangePassword','Account','releaseNews');" style="cursor: pointer">
                                修改密码</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('UserInfo','Account','releaseNews');" style="cursor: pointer">个人信息</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('Register','Adm','releaseNews');" style="cursor: pointer">添加教师</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('AddHourCountStandard','Adm','releaseNews');" style="cursor: pointer">
                                添加学时计算标准</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('AddActivity','Adm','releaseNews');" style="cursor: pointer">发布活动公告</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('CheckTeacherApply','Adm','releaseNews');" style="cursor: pointer">
                                未审核活动列表</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('SearchCriteria','ClassHour','releaseNews');" style="cursor: pointer">
                                已审核活动列表</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('TeacherPerApply','Activity','releaseNews');" style="cursor: pointer">
                                未审批的教师申请</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('TeacherPerApplyFinish','Activity','releaseNews');" style="cursor: pointer">
                                已审批的教师申请</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('Activiting','Adm','releaseNews');" style="cursor: pointer">正在进行的活动</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('Activitied','Adm','releaseNews');" style="cursor: pointer">已经结束的活动</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a onclick="resetUrl('SysMail','Home','releaseNews');" style="cursor: pointer">配置邮箱</a>
                        </td>
                    </tr>
                </table>
            </center>
        </div>
        <div id="releaseNews" class="i_box_r" style="width: 680px;">
        </div>
    </div>
</div>
