@charset "utf-8";
/* CSS Document */
.ddsmoothmenu {
    font-size: 14px;
    margin: 0 auto;
}
.ddsmoothmenu a {
    text-align: center;
}
.ddsmoothmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}
.ddsmoothmenu a:hover {
    color: #2F7DCD;
}
.ddsmoothmenu ul li {
    display: inline;
    float: left;
    position: relative;
    text-align: center;
}


.i_nav li.navline {
    background: url(../images/nav_line.jpg) no-repeat scroll right center transparent;
    height: 35px;
    padding: 0 4px 0 1px;
}
.nava {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 105px;
}
* html .nava {
    display: inline-block;
}
.navaactive, .navactive, .navactive:hover, .nava:hover, .nava.selected {
    background: url(../Images/nav_aon.png) no-repeat scroll center 7px transparent;
    color: #2F7DCD;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    width: 105px;
}
.navliv {
    color: #FFFC5F;
    padding: 0 5px;
}
.navline ul li a {
    display: block;
    white-space: nowrap;
    width: 100%;
}
.i_nav ul li ul {
    left: 0;
    position: absolute;
    visibility: hidden;
}
* html .i_nav ul li ul {
}
.i_nav ul li ul li {
    display: list-item;
    float: none;
    margin: 0 auto;
    padding: 0;
}
.i_nav ul li ul li ul {
    top: 0;
}
.i_nav ul li ul li a {
    background-color: #E7E7E7;
    color: #000000;
    display: block;
    float: left;
    font: 12px/30px Verdana;
    height: 30px;
    margin: 0;
    width: 105px;
}
* html .ddsmoothmenu {
    height: 1%;
}
.downarrowclass {
    position: absolute;
    right: 15px;
    top: 12px;
}
.ddshadow {
    background: none repeat scroll 0 0 silver;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.toplevelshadow {
    opacity: 0;
}
