.myTable
{
    padding-left: 80px;
}

.runcode
{
    border: 1px solid #ddd;
    background: url(../calendar/_doc/images/iconDate.gif) center right no-repeat #f7f7f7;
    cursor: pointer;
    font: 12px tahoma,arial;
    height: 21px;
    width: 280px;
}

.dialog-forgetPsw input.text
{
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}
.dialog-forgetPsw fieldset
{
    padding: 0;
    border: 0;
    margin-top: 25px;
}
.dialog-forgetPsw .validateTips
{
    border: 1px solid transparent;
    padding: 0.3em;
}

.ui-autocomplete-loading
{
    background: white url('../jquery-ui-1.8.16/themes/base/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-autocomplete
{
    max-height: 400px;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
* html .ui-autocomplete
{
    height: 400px;
}




.field-validation-error
{
    color: #ff0000;
}


/***********************
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}
*/





/*公共部分*/
body
{
    background: url(../images/body_bg.jpg) repeat-x scroll left top #DEF0FB;
    color: #555555;
    font-family: Verdana;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
div, form, img, ul, ol, li, dl, dt, dd, p
{
    border: 0 none;
    margin: 0;
    padding: 0;
}
input, select, textarea
{
    vertical-align: middle;
}
ul, li
{
    list-style-type: none;
}
img, a img
{
    border: 0 none;
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6
{
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
a
{
    color: #555555;
    text-decoration: none;
}
a:hover
{
    color: #558CCE;
    text-decoration: underline;
}

/*header*/
.header
{
    height: 177px;
    overflow: hidden;
}
.mauto
{
    margin: 0 auto;
    width: 1002px;
}
.clearfix:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.topline
{
    height: 27px;
    line-height: 27px;
    padding: 0 10px;
}
.topline_l
{
    float: left;
}
.topline_r
{
    float: right;
}
.topline_rr
{
    position: absolute;
    height: 27px;
    line-height: 27px;
    left: 1175px;
    top: 0px;
    color: #FF0000;
}
.topbar
{
    background: url(../images/header_bg.jpg) no-repeat scroll left top transparent;
    height: 150px;
    position: relative;
    width: 1002px;
    clear: both;
}
.logo
{
    float: left;
}
.outlink
{
    background: url(../images/header_outlink.png) no-repeat scroll left top transparent;
    height: 49px;
    position: absolute;
    right: 35px;
    top: 30px;
    width: 389px;
}
.outlink li
{
    float: left;
    font-family: microsoft yahei;
    font-size: 14px;
    width: 129px;
}
.outlink li a
{
    background: url(../images/header_outlink_li.png) no-repeat scroll 20px center transparent;
    color: #FFFFFF;
    padding-left: 40px;
}
.outlink li a.ol01
{
    line-height: 49px;
}
.outlink li a.ol02
{
    line-height: 40px;
}
.outlink li a.ol03
{
    line-height: 43px;
}

.nav
{
    background: url(../images/nav_bg.jpg) repeat-x scroll left top transparent;
    height: 35px;
}

.ddsmoothmenu
{
    font-size: 14px;
    margin: 0 auto;
}
* html .ddsmoothmenu
{
    height: 1%;
}
.ddsmoothmenu a
{
    text-align: center;
}
.ddsmoothmenu a:hover
{
    color: #2F7DCD;
}
.ddsmoothmenu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}
.ddsmoothmenu ul li
{
    display: inline;
    float: left;
    position: relative;
    text-align: center;
}
.ddsmoothmenu li.navline
{
    background: url(../images/nav_line.jpg) no-repeat scroll right center transparent;
    height: 35px;
    padding: 0 4px 0 1px;
}
.ddsmoothmenu .nava
{
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 105px;
}
* html .nava
{
    display: inline-block;
}
.nava_selected, .nava:hover
{
    background: url(../images/nav_hover.jpg) repeat-x scroll transparent;
    color: #2F7DCD;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    width: 105px;
}
.navline ul li a
{
    display: block;
    white-space: nowrap;
    width: 100%;
}
.nav ul li ul
{
    left: 0;
    position: absolute;
    visibility: hidden;
    background: url(../images/nav_ul_bg.jpg) left bottom no-repeat;
    padding-bottom: 10px;
    width: 106px;
}
.nav ul li:hover ul
{
    visibility: visible;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=120, Color=#AAAAAA); /* For IE 8 ;横向偏移3像素，纵向偏移3像素，模糊4像素，颜色*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=120,strength=4); /*ie*/ /* For IE 5.5 - 7 */
    -moz-box-shadow: 5px 5px 5px #AAAAAA; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #AAAAAA; /*safari或chrome*/
    box-shadow: 5px 5px 5px #AAAAAA; /*opera或ie9*/
}
.nav ul li ul li
{
    float: none;
}
.nav ul li ul li a
{
    color: #666666;
    display: block;
    font: 12px/30px Verdana;
    height: 34px;
    width: 106px;
}
.nav ul li ul li a:hover
{
    background: url(../images/nav_ul_bg.jpg) no-repeat scroll right top transparent;
    color: #FFFFFF;
}
.navb
{
    background: url(../images/navb.jpg) no-repeat scroll left top transparent;
    height: 2px;
    overflow: hidden;
}


.i_container
{
    margin: 10px auto;
    width: 1002px;
}
.i_left
{
    float: left;
    width: 712px;
}
.i_right
{
    float: right;
    width: 280px;
}
.i_box
{
    background: url(../images/i_box.jpg) no-repeat scroll left top transparent;
    height: 341px;
    position: relative;
    width: 712px;
}
.i_box_top
{
    left: -4px;
    position: absolute;
    top: -5px;
}
.i_box_left
{
    border-right: 1px solid #BFDFF4;
    display: inline;
    float: left;
    height: 339px;
    margin: 1px 0 0 1px;
    width: 318px;
}
.i_box_right
{
    display: inline;
    float: left;
    height: 339px;
    margin-top: 1px;
    width: 391px;
}
.i_banner
{
    height: 228px;
    overflow: hidden;
    width: 318px;
}
.i_banner .banner
{
    height: 198px;
    padding: 15px 20px;
    width: 278px;
}
.i_time
{
    background: url(../images/i_time_bg.jpg) repeat-x scroll left top transparent;
    height: 111px;
    width: 318px;
}
.i_time span
{
    display: block;
    float: left;
    font-size: 14px;
    padding: 30px 0 0;
    text-align: center;
    width: 199px;
}
.i_time span a
{
    background: url(../images/i_time.gif) no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin-top: 15px;
    padding: 0 0 0 20px;
    text-align: left;
    width: 105px;
}
.i_time span a:hover
{
    color: #FFFFFF;
}
.i_time dl
{
    background: url(../images/i_time_dl.jpg) no-repeat scroll left top transparent;
    float: left;
    height: 90px;
    margin-top: 11px;
    width: 101px;
}
.i_time dl dt
{
    color: #FFFFFF;
    line-height: 27px;
    margin-top: 3px;
    text-align: center;
}
.i_time dl dd
{
    font-family: Arial;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
}

.i_news01
{
    height: 264px;
    padding: 10px 10px 0;
    width: 371px;
}
.title01
{
    height: 26px;
    line-height: 26px;
}
.title01 dl
{
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    height: 26px;
}
.title01 dl dd
{
    float: left;
    height: 26px;
    width: 89px;
}
.title01 dl dd.title01_l
{
    background: url(../images/title01_l.jpg) no-repeat scroll left top transparent;
    width: 5px;
}
.title01 dl dd.title01_r
{
    background: url(../images/title01_r.jpg) no-repeat scroll left top transparent;
    width: 5px;
}
.title01 dl dd a
{
    background: url(../images/title_bg01.jpg) no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 89px;
}
.title01 dl dd a:hover
{
    background-position: left bottom;
    color: #FFFFFF;
    text-decoration: none;
}
.title01 dl dd a.on
{
    background-position: left bottom;
    color: #FFFFFF;
    text-decoration: none;
}
.i_news01_l
{
    height: 231px;
    padding-top: 7px;
    width: 371px;
    overflow: hidden;
}
.i_news01_l li
{
    float: left;
    height: 25px;
    line-height: 25px;
    width: 371px;
}
.i_news01_l li a
{
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 290px;
}
.i_news01_l li span
{
    color: #999999;
    display: block;
    float: right;
}

.i_search
{
    background: url(../images/i_search_bg.jpg) repeat-x scroll left top transparent;
    height: 50px;
    padding: 15px 10px 0;
    width: 371px;
}
.i_search span
{
    background: url(../images/i_search_icon.jpg) no-repeat scroll left top transparent;
    display: inline-block;
    float: left;
    height: 28px;
    margin-left: 10px;
    width: 32px;
}
#productSearch
{
    float: left;
    padding-left: 10px;
}
.search_text
{
    float: left;
    margin-top: 5px;
}
.search_btn
{
    background: url(../images/i_search.gif) no-repeat scroll left top transparent;
    border: medium none;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 44px;
    cursor: pointer;
    margin-left: 10px;
    padding-bottom: 12px;
    padding-left: 20px;
    text-align: left;
    width: 123px;
}


.i_quick
{
    background: url(../images/i_quick_bg.jpg) no-repeat scroll left top transparent;
    height: 164px;
    margin-top: 10px;
    padding-left: 24px;
    position: relative;
    width: 688px;
}
.i_quick_i
{
    left: -4px;
    position: absolute;
    top: -5px;
}
.i_quick h3
{
    background: url(../images/title03_icon.png) no-repeat scroll left center transparent;
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 42px;
    padding-left: 30px;
}
.i_quick li
{
    background: url(../images/i_quick_li_bg.jpg) no-repeat scroll left top transparent;
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 0 0 15px 23px;
    text-align: center;
    width: 110px;
}


.i_news02
{
    overflow: hidden;
    width: 280px;
}
.title02
{
    background: url(../images/title_bg02.jpg) no-repeat scroll left top transparent;
    height: 37px;
    line-height: 37px;
    padding-left: 70px;
}
.title02 h3
{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
    background: url(../images/title02_icon.gif) no-repeat scroll left center transparent;
}
.i_news02_l
{
    background: url(../images/news_bg.jpg) repeat-y scroll left top transparent;
    padding: 10px;
    width: 260px;
    height: 270px;
    overflow: hidden;
}
.i_news02_l li
{
    border-bottom: 1px dotted #D9D9D9;
    line-height: 24px;
}
.i_news02_l li span
{
    color: #999999;
}

.i_news03
{
    overflow: hidden;
    width: 280px;
}
.title03
{
    background: url(../images/title_bg03.jpg) no-repeat scroll left top transparent;
    height: 36px;
    line-height: 36px;
    padding-left: 70px;
}
.title03 h3
{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
    background: url(../images/title03_icon.png) no-repeat scroll left center transparent;
}
.i_news03_l
{
    background: url(../images/news_bg.jpg) repeat-y scroll left top transparent;
    padding: 18px 10px 10px 10px;
    width: 260px;
}
.i_news03_l li
{
    background: url(../images/news03_l_li_bg.jpg) no-repeat scroll left top transparent;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    margin: 10px auto 0;
    text-align: center;
    width: 201px;
}
.i_news03_l li a
{
    color: #000000;
}

.newbottom_01
{
    background: url(../images/newbottom_bg01.jpg) no-repeat scroll left top transparent;
    height: 5px;
    overflow: hidden;
}


.footer
{
    padding: 0;
    text-align: center;
    clear: both;
}
.footer_nav
{
    background: url(../images/footer_nav.jpg) no-repeat scroll left top transparent;
    height: 39px;
    line-height: 37px;
}
.footer_nav_l
{
    float: left;
}
.footer_nav a
{
    color: #FFFFFF;
    padding: 0 0 0 15px;
}
.footer_nav a:hover
{
    color: #FFFFFF;
}
.footer_link
{
    float: right;
    padding: 8px 15px 0 0;
}
.copyright
{
    color: #444444;
    line-height: 20px;
    padding-top: 15px;
}



.p_left
{
    float: left;
    overflow: hidden;
    width: 280px;
}
.p_right
{
    float: right;
    overflow: hidden;
    background: url(../images/p_rbg.jpg) repeat-y scroll left top transparent;
    width: 712px;
}
.i_news04_l
{
    background: url(../images/news_bg.jpg) repeat-y scroll left top transparent;
    padding: 18px 10px 10px 10px;
    width: 260px;
}
.i_news04_l li
{
    background: url(../images/p_left_li_bg.png) no-repeat scroll left top transparent;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    margin: 10px auto 0;
    text-align: center;
    width: 201px;
}
.i_news04_l li:hover
{
    background: url(../images/p_left_li_bg_h.png);
    cursor: pointer;
}
.i_news04_l li:hover a
{
    color: #FFFFFF;
    text-decoration: none;
}
.p_r_t
{
    background: url(../images/p_r_tbg.jpg) no-repeat scroll left top transparent;
    height: 37px;
    width: 710px;
    padding: 0px 1px;
}
.p_r_t h3
{
    background: url(../images/p_r_t_icon.gif) no-repeat scroll left center transparent;
    color: #000000;
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    margin-left: 20px;
    overflow: hidden;
    padding-left: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
}
.p_path
{
    float: right;
    line-height: 37px;
    padding-right: 20px;
}
.p_news
{
    margin: 0 1px;
    width: 710px;
}
.p_n_list
{
    max-height: 400px;
}
.p_n_list li
{
    background: url(../Images/p_n_list.jpg) repeat-x scroll left bottom transparent;
    height: 40px;
    line-height: 40px;
}
.p_n_list li span
{
    float: right;
    padding-right: 20px;
}
.p_n_list li a
{
    display: block;
    float: left;
    overflow: hidden;
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 550px;
}
.navPage
{
    clear: both;
    float: left;
    font-family: arial,simsun,sans-serif;
    font-size: 10px;
    padding: 15px 0 10px 20px;
    text-align: center;
    width: 660px;
}
.navPage ul
{
    text-align: center;
}
.navPage li
{
    float: left;
    padding: 0 2px;
    width: 20px;
}
.navPage a
{
    border: 1px solid #CFD0D0;
    color: #555555;
    display: block;
    height: 12px;
    line-height: 12px;
    padding: 2px 4px;
    width: 10px;
}
.navPage a:hover, a.pagebarCurrent
{
    border: 1px solid #ED9620;
    color: #ED9620;
    text-decoration: none;
}
.newbottom_02
{
    background: url(../images/newbottom_02_bg.jpg) no-repeat scroll left top transparent;
    height: 20px;
    overflow: hidden;
    clear: both;
}
.p_n_title
{
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding-top: 20px;
    text-align: center;
    text-overflow: ellipsis;
}
.p_n_info
{
    line-height: 30px;
    text-align: center;
}
.p_news_center
{
    line-height: 24px;
    font-size: 14px;
    padding-top: 15px;
    border-bottom: 1px dashed #C3C3C3;
    border-top: 1px dashed #C3C3C3;
    padding-bottom: 30px;
    width: 672px;
    margin: 0px auto;
}
.p_news_center_ul
{
    padding: 0px 40px;
    font-family: 宋体,Arial, Helvetica, sans-serif;
}
.p_news_center_ul li
{
    clear: both;
}
.p_news_center_ul li span
{
    width: 502px;
    display: block;
    float: right;
}
.button input
{
    width: 57px;
    height: 28px;
    background: url(../images/button.png);
    border: none;
    color: #555555;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
.button input:hover
{
    width: 57px;
    height: 28px;
    background: url(../images/button_h.png);
    border: none;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
.prevnext
{
    line-height: 20px;
    padding: 10px 20px 10px 30px;
}
.prevrecord, .nextrecord
{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 600px;
}
.p_center
{
    min-height: 706px;
    padding: 20px;
    font-family: 宋体,Arial, Helvetica, sans-serif;
}
.text-long
{
    border: 1px solid #ddd;
    background: #fff url(../images/input-shaddow.gif) no-repeat left top;
    font: 11px Arial, Helvetica, sans-serif;
    color: #646464;
    padding: 5px 7px;
    width: 264px;
    margin: 0 10px 0 0;
}
.text-medium
{
    border: 1px solid #ddd;
    background: #fff url(../img/input-shaddow.gif) no-repeat left top;
    font: 11px Arial, Helvetica, sans-serif;
    color: #646464;
    padding: 5px 7px;
    width: 130px;
    float: left;
    margin: 0 10px 0 0;
}
.text-long:focus, textarea:focus, .text-medium:focus
{
    background: #fdfcf6 url(../images/input-shaddow-hover.gif) no-repeat left top;
}
textarea
{
    border: 1px solid #ddd;
    background: #fff url(../images/input-shaddow.gif) no-repeat left top;
    font: 11px Arial, Helvetica, sans-serif;
    color: #646464;
    padding: 5px 7px;
    width: 364px;
    float: left;
    margin: 0 10px 0 0;
    height: 148px;
    overflow: hidden;
    resize: none;
}
