<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TTitleDBEntities" connectionString="metadata=res://*/DB.TTitleDB.csdl|res://*/DB.TTitleDB.ssdl|res://*/DB.TTitleDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LENOVO-PC\SQL2005;Initial Catalog=TTitleDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>