<div class="i_right">
    <div class="i_news02" id="com_indexistop_news" editok="online">
        <div class="title02">
            <h3>
                最新活动公告
            </h3>
        </div>
        <div class="i_news02_l">
            <ul>
                @{
                    var notice = ViewData["Notice"] as TeacherTitle.DAL.DB.ActivityPlan[];
                    for (int i = 0; i < notice.Length; i++)
                    {
                    <li>@Ajax.ActionLink(notice[i].AP_Theme, "ApplyActivity", "Activity", new { apCode = notice[i].AP_Code }, new AjaxOptions { UpdateTargetId = "containerDiv" }, null)
                        <span>[@Html.Encode(DateTime.Parse(notice[i].AP_ReleaseTime).ToString("yyyy-MM-dd"))]</span></li> 
                    }                 
                }
            </ul>
            @*@{
                var pageInfo = ViewData["PageInfo"] as TeacherTitle.Infrastructure.NewPageInfo;
            }
            @Ajax.NewPageLinks(pageInfo, index => Url.Action("LatestNotice", new { page = index, }), new AjaxOptions
            {
                UpdateTargetId = "PartialLatestNotice",
                HttpMethod = "POST"
            }, new { id = "NoticeContentPager", @class = "navPage" })*@
            <div style="position: absolute; bottom: 80px; right: 180px;">
                @Ajax.ActionLink("更多", "ActivityContent", "Home", null, new AjaxOptions { UpdateTargetId = "containerDiv" }, null)
            </div>
        </div>
    </div>
    <div class="i_news03">
        <div class="title03">
            <h3>
                教学管理</h3>
        </div>
        <div class="i_news03_l">
            <ul>
                <li style="margin-top: 0px;"><a href="#">课程建设</a> </li>
                <li><a href="#">实践教学</a> </li>
                <li><a href="#">选课系统</a> </li>
            </ul>
        </div>
    </div>
    <div class="newbottom_01">
    </div>
</div>
