<div class="i_right">
    <div class="i_news02" id="com_indexistop_news" editok="online" style="height: 510px;">
        <div class="title02">
            <h3 class="tbg_01">
                最新活动公告
            </h3>
        </div>
        <div class="i_news02_l" style="height: 455px;">
            <ul>
                @{
                    var notice = ViewData["Notice"] as TeacherTitle.DAL.DB.ActivityPlan[];
                    for (int i = 0; i < notice.Length; i++)
                    {
                    <li>@Ajax.ActionLink(notice[i].AP_Theme, "ApplyActivity", "Activity", new { apCode = notice[i].AP_Code }, new AjaxOptions { UpdateTargetId = "containerDiv" }, null)
                        <span>[@Html.Encode(DateTime.Parse(notice[i].AP_ReleaseTime).ToString("yyyy-MM-dd"))]</span></li> 
                    }                 
                }
            </ul>
            @{
                var pageInfo = ViewData["PageInfo"] as TeacherTitle.Infrastructure.PageInfo;
            }
            @Ajax.PageLinks(pageInfo, index => Url.Action("LatestNotice", new { page = index, }), new AjaxOptions
            {
                UpdateTargetId = "PartialLatestNotice",
                HttpMethod = "POST"
            }, new { id = "latestNoticePage", style = "position: absolute; bottom: -100px;" })
            @*@Ajax.PageLinks(pageInfo, Url.Action("LatestNotice"), new { test = "$('#asd').val()", test1 = "$('#qwe').val()" }, new AjaxOptions { UpdateTargetId = "PartialLatestNotice", HttpMethod = "POST" }, new { id="wqnmlgb"})
            <input type="text" id="asd" />
            <input type="text" id="qwe" />
            <br />*@
        </div>
    </div>
    @*<div class="i_news03">
        <div class="title03">
            <h3 class="tbg_02">
                教学管理</h3>
        </div>
        <div class="i_news03_l">
            <ul>
                <li><a href="/cn/menu_47.htm?menuid=47">课程建设</a> </li>
                <li><a href="/cn/menu_35.htm?menuid=35">实践教学</a> </li>
                <li><a href="/cn/menu_36.htm?menuid=36">选课系统</a> </li>
            </ul>
        </div>
    </div>*@
    <div class="bot_01">
    </div>
    <div class="edit_nullmodule" id="com_definedkeys_3" editok="online">
    </div>
</div>
