<div class="i_left">
    <div class="i_box">
        <div class="i_box_t">
            <img src="@Url.Content("~/Plug-in/images/icon05.png")" /></div>
        <div class="i_box_l">
            <div class="i_banner">
                <div class="banner">
                    <div id="picDiv">
                        <script type="text/javascript">
                            var focus_width = 278
                            var focus_height = 198
                            var text_height = 0
                            var swf_height = focus_height + text_height

                            var pics = '../../Plug-in/images/002.jpg|../../Plug-in/images/008.jpg|../../Plug-in/images/009.jpg|../../Plug-in/images/002.jpg|../../Plug-in/images/011.jpg'
                            var links = 'http://linkweb.cn/Js/Js.asp?ID=535|http://linkweb.cn/Js/Js.asp?ID=518|http://linkweb.cn/Js/Js.asp?ID=497|http://linkweb.cn/Js/Js.asp?ID=480|http://linkweb.cn/Js/Js.asp?ID=480'
                            var texts = 'FLASH图片渐显效果测试|这种效果到底是怎么实现的呢|现在估计是JS和FLASH共同作用|那个FLASH文件应该是控制文件|现在估计是JS和FLASH共同作用'

                            $("#picDiv").append('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="' + focus_width + '" height="' + swf_height + '">');
                            $("#picDiv").append('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="../../Plug-in/images/flash01.swf"><param name="quality" value="high"><param name="bgcolor" value="#F0F0F0">');
                            $("#picDiv").append('<param name="menu" value="false"><param name=wmode value="opaque">');
                            $("#picDiv").append('<param name="FlashVars" value="pics=' + pics + '&links=' + links + '&texts=' + texts + '&borderwidth=' + focus_width + '&borderheight=' + focus_height + '&textheight=' + text_height + '">');
                            $("#picDiv").append('<embed src="../../Plug-in/images/flash01.swf" wmode="opaque" FlashVars="pics=' + pics + '&links=' + links + '&texts=' + texts + '&borderwidth=' + focus_width + '&borderheight=' + focus_height + '&textheight=' + text_height + '" menu="false" bgcolor="#F0F0F0" quality="high" width="' + focus_width + '" height="' + swf_height + '" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
                            $("#picDiv").append('</object>');

                            //                            document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="' + focus_width + '" height="' + swf_height + '">');
                            //                            document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="../../Plug-in/images/flash01.swf"><param name="quality" value="high"><param name="bgcolor" value="#F0F0F0">');
                            //                            document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
                            //                            document.write('<param name="FlashVars" value="pics=' + pics + '&links=' + links + '&texts=' + texts + '&borderwidth=' + focus_width + '&borderheight=' + focus_height + '&textheight=' + text_height + '">');
                            //                            document.write('<embed src="../../Plug-in/images/flash01.swf" wmode="opaque" FlashVars="pics=' + pics + '&links=' + links + '&texts=' + texts + '&borderwidth=' + focus_width + '&borderheight=' + focus_height + '&textheight=' + text_height + '" menu="false" bgcolor="#F0F0F0" quality="high" width="' + focus_width + '" height="' + swf_height + '" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
                            //                            document.write('</object>');
                        </script>
                    </div>
                </div>
            </div>
            <div class="i_time">
                <span>
                    <div id="timeSpan1">
                        &nbsp;</div>
                    <a href="#" class="i_time_a">查看校历</a></span>
                <dl>
                    <dt>校历周次</dt>
                    <dd>
                        14</dd>
                </dl>
            </div>
        </div>
        <div class="i_box_r">
            <div class="i_news01">
                <div class="title01">
                    <dl>
                        <dd class="title01_l">
                        </dd>
                        <dd>
                            <a id="nsmenuid_toolsa1" onmouseover="changetab_objdiv('nsmenuid_toolsa','nsremark_toolsa',1,3,'activetab','')"
                                href="#" class="activetab">教务信息化</a>
                        </dd>
                        <dd>
                            <a id="nsmenuid_toolsa1" onmouseover="changetab_objdiv('nsmenuid_toolsa','nsremark_toolsa',2,3,'activetab','')"
                                href="#" class="activetab">教学管理</a>
                        </dd>
                        <dd>
                            <a id="nsmenuid_toolsa1" onmouseover="changetab_objdiv('nsmenuid_toolsa','nsremark_toolsa',3,3,'activetab','')"
                                href="#" class="activetab">科研成果</a>
                        </dd>
                        <dd class="title01_r">
                        </dd>
                    </dl>
                </div>
                <div class="i_news01_l">
                    <div id="nsremark_toolsa1">
                        <div class="ksh" id="com_nmdlls_menu_49" editok="online">
                            <ul>
                                <li>@Html.ActionLink("教学活动具体学时计算标准", "ActivityList", "Activity", null, new { target = "_blank", title = "高效教师学习档案系统" })<span>2013-05-31</span>
                                </li>
                                <li><a href="#" title="">2013年温州医科大学学生咨询处联系方式</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013年温州医科大学中职推免录取名单</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学征求志愿填报</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学2013年五年制大专简章</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013温州医科大学咨询处联系方式</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013年温州医科大学职推免录取名单</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学征求志愿填报</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学2013年五年制大专简章</a> <span>2013-05-31</span> </li>
                            </ul>
                        </div>
                    </div>
                    <div id="nsremark_toolsa2" style="display: none;">
                        <div class="ksh" id="com_nmdlls_menu_40" editok="online">
                            <ul>
                                <li><a href="#" title="">温州医科大学2013年五年制大专简章大专简章</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013年温州医科大学学生咨询处联系方式</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013年温州医科大学中职推免录取名单</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学征求志愿填报</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学2013年五年制大专简章</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013温州医科大学咨询处联系方式</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013年温州医科大学职推免录取名单</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学征求志愿填报</a> <span>2013-05-31</span> </li>
                            </ul>
                        </div>
                    </div>
                    <div id="nsremark_toolsa3" style="display: none;">
                        <div class="ksh" id="com_nmdlls_menu_50" editok="online">
                            <ul>
                                <li><a href="#" title="">2013年温州医科大学中职推免录取名单</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学征求志愿填报</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学2013年五年制大专简章</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013温州医科大学咨询处联系方式</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013年温州医科大学职推免录取名单</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学征求志愿填报</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">2013年温州医科大学中职推免录取名单</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学征求志愿填报</a> <span>2013-05-31</span> </li>
                                <li><a href="#" title="">温州医科大学2013年五年制大专简章</a> <span>2013-05-31</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="i_search">
                <span></span>
                <form id="productSearch" name="productSearch" action="/cn/products.htm" method="get">
                <input type="hidden" id="action" name="action" value="search" />
                <input type="text" id="keywords" name="keywords" class="search_text" title="输入您想找的关键字或词..."
                    value="" />
                <input type="submit" align="middle" value=" 搜索 " class="search_btn" title="输入您想找的关键字或词..." />
                </form>
            </div>
        </div>
    </div>
    <div class="i_quick">
        <div class="i_quick_i">
            <img src="@Url.Content("~/Plug-in/images/icon06.png")" /></div>
        <h3>
            快捷导航</h3>
        <ul>
            <li><a href="/cn/menu_47.htm">考试管理</a> </li>
            <li><a href="/cn/menu_50.htm">科研成果</a> </li>
            <li><a href="/cn/menu_51.htm">教学质量监控</a> </li>
            <li><a href="/cn/menu_35.htm">实践教学</a> </li>
            <li><a href="/cn/menu_47.htm">课程建设</a> </li>
            <li><a href="/cn/menu_36.htm">选课系统</a> </li>
            <li><a href="#">学生用表</a> </li>
            <li><a href="#">选课系统</a> </li>
            <li><a href="#">技能竞赛</a> </li>
            <li><a href="#">选课系统</a> </li>
        </ul>
    </div>
</div>
<div id="PartialLatestNotice">
    @{
        Html.RenderAction("LatestNotice");
    }
</div>
<div class="clear">
</div>
